.totalPrice {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.classCoverPhoto {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.centerImg {
    margin-bottom: 1rem;
}