.mapContainer {
  height: 500px;
  z-index: 0;
  border-radius: 0.45rem;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mapContainer {
    height: 1000px;
    z-index: 0;
  }
}
