.filter {
  
  width: 400px;
}

.custom-width {
  width: 60px;
}

.custom-width-min-max {
  width: 75px;
}

.container {
  max-width: 100%;
}

.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  top: 25px;
  left: 0;
  overflow-x: hidden; 
  padding-top: 60px; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}


.sidebar .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.pointer       { cursor: pointer; }

