// this allows us to use es6 features in the server like import/export
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
