
.classTitle {
    text-align: center;
    padding: 20px;
}

.rowFormat {
    margin: 20px;
}

.classDetail {
    font-weight: 600;
}

.carouselImage {
    padding-top: 30px;
}

.iconPos {
    margin-right: 15px;
}