
.classTitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.rowFormat {
    margin: 20px;
}

.classDetail {
    font-weight: 600;
}

.carouselImage {
    padding-top: 30px;
}

.iconPos {
    margin-right: 30px;
    text-align: center;
    vertical-align: center;
}