/**
 * = Forms
 */

label {
  font-size: $font-size-sm;
}

.form-control {
  font-size: $input-font-size;
  border-radius: $input-border-radius;
  box-shadow: none;

  &:focus {
    border-color: $input-focus-border-color;
    background-color: $input-focus-bg;
    &:placeholder {
      color: $input-focus-placeholder-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:active {
    border-color: $input-focus-border-color;
  }
}

/* Textareas */

textarea[resize='none'] {
  resize: none !important;
}

textarea[resize='both'] {
  resize: both !important;
}

textarea[resize='vertical'] {
  resize: vertical !important;
}

textarea[resize='horizontal'] {
  resize: horizontal !important;
}

/* shadow styles */

.form-control-muted {
  background-color: $input-muted-bg;
  border-color: $input-muted-bg;
  box-shadow: none;

  &:focus {
    background-color: $input-muted-bg;
  }
}

// Sizes

.form-group {
  position: relative;
  &.form-group-lg {
    .form-control {
      font-size: $input-font-size-lg;
      height: $input-height-lg;
    }
    .input-group-text {
      font-size: $input-font-size-lg;
      padding: $input-padding-y $input-padding-lg-x;
      transition: $input-transition;
    }
  }
}

.form-control-xl {
  height: $input-height-xl;
  padding: $input-padding-y-lg $input-padding-x-lg;
  line-height: $input-line-height-lg;
  @include font-size($input-font-size-lg);
  @include border-radius($input-border-radius-lg);
}

// Checkboxes and radios
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  padding-left: 0;

  &.form-check-lg {
    .form-check-label {
      padding-left: 2rem;
      font-size: $label-font-size-lg;
      line-height: 23px;
    }

    .form-check-label::before,
    .form-check-label::after {
      width: 21px;
      height: 21px;
    }

    input[type='checkbox']:checked + .form-check-label::after {
      font-size: 0.8rem;
      line-height: 22px;
    }

    input[type='radio'] + .form-check-label::before,
    input[type='radio'] + .form-check-label::after {
      width: 21px;
      height: 21px;
    }

    input[type='radio']:checked + .form-check-label::after {
      width: 9px;
      height: 9px;
      top: 9px;
      left: 6px;
    }
  }
}

.form-check .form-check-label {
  display: inline-block;
  position: relative;
  padding-left: 1.375rem;
  font-weight: $font-weight-normal;
  line-height: 16px;
  margin-bottom: 0;
  @include transition($transition-base);
  color: #5a6b5b;

  &:hover {
    cursor: pointer;
  }
}

.radio .form-check-sign {
  padding-left: 28px;
}

.form-check input[type='radio'] + .form-check-inline .form-check-label {
  padding-left: 5px;
  margin-right: 10px;
}

.form-check .form-check-label::before,
.form-check .form-check-label::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  background-color: $custom-checkbox-bg;
  border: 1px solid $gray-500;
  @include transition($transition-base);
  @include border-radius($custom-checkbox-indicator-border-radius);

  &:hover {
    cursor: pointer;
  }
}

.form-check {
  &.inbox-check {
    .form-check-label {
      &::before {
        top: -12px;
        @include border-radius($square-checkbox-indicator-border-radius);
      }
      &::after {
        top: -12px;
        @include border-radius($square-checkbox-indicator-border-radius);
      }
    }
  }
}

.form-check .form-check-sign-white:before {
  background-color: $white;
}

.form-check input[type='checkbox']:checked + .form-check-sign::before,
.form-check input[type='checkbox']:checked + .form-check-sign::before {
  border: none;
}

.form-check .form-check-label::after {
  font-family: 'Font Awesome 5 Free';
  top: 0px;
  text-align: center;
  opacity: 0;
  color: $white;
  font-weight: 900;
  border: 0;
}

.form-check.disabled .form-check-label,
.form-check.disabled .form-check-label {
  color: $gray-500;
  cursor: not-allowed;
}

.form-check input[type='checkbox'],
.form-check input[type='radio'] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.form-check input[type='checkbox']:checked + .form-check-label::after {
  background-color: $custom-checkbox-checked-bg;
  opacity: 1;
  font-size: 0.6rem;
  margin-top: 0;
  line-height: 1.6;
}

.form-check input[type='checkbox']:disabled + .form-check-label::after {
  color: $custom-checkbox-disabled-checked-bg;
}

.form-check input[type='checkbox'] + .form-check-label::after {
  opacity: 0;
}

.form-control input[type='checkbox']:disabled + .form-check-label::before,
.checkbox input[type='checkbox']:disabled + .form-check-label::after {
  cursor: not-allowed;
}

.form-check input[type='checkbox']:disabled + .form-check-label,
.form-check input[type='radio']:disabled + .form-check-label {
  pointer-events: none;
}

.form-check input[type='radio'] + .form-check-label {
  padding-top: 3px;
}

.form-check input[type='radio'] + .form-check-label::before,
.form-check input[type='radio'] + .form-check-label::after {
  content: ' ';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 3px;
  padding: 1px;
  @include transition(opacity 0.3s linear);
}

.form-check input[type='radio'] + .form-check-label:after,
.form-check input[type='radio'] {
  opacity: 0;
}

.form-check input[type='radio']:checked + .form-check-label::after {
  width: 8px;
  height: 8px;
  top: 8px;
  left: 5px;
  background-color: $custom-toggle-slider-indicator-bg;
  border-color: $custom-toggle-slider-indicator-bg;
  opacity: 1;
}

.form-check input[type='radio']:checked + .form-check-label::before {
  background-color: $custom-checkbox-checked-bg;
}

.form-check input[type='radio']:disabled + .form-check-label::before {
  color: $custom-checkbox-disabled-checked-bg;
}

.form-check input[type='radio']:disabled + .form-check-label::before,
.form-check input[type='radio']:disabled + .form-check-label::after {
  color: $gray-500;
}

//Round checkboxes
.round-check {
  .form-check-sign::before,
  .form-check-sign::after {
    border-radius: $circle-radius;
  }
}

.focused {
  .input-group-text {
    border-color: $input-focus-border-color;
    background-color: $input-focus-bg;
  }

  .form-control {
    border-color: $input-focus-border-color;
    background-color: $input-focus-bg;
  }
}

//Full search

.full-search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $soft;
  opacity: 0;
  z-index: 999;
  @include transition($full-search-transition);
  @include transform(translate(0%, -100%) scale(0, 0));
}

.full-search.open {
  @include transform(translate(0%, 0%) scale(1, 1));
  opacity: 1;
}

.full-search input[type='search'] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: $dark;
  background: $soft;
  font-size: 3rem;
  font-weight: $font-weight-normal;
  text-align: center;
  border: $border-width solid $light;
  padding: 0.5rem 0 1rem 0;
  outline: 0;
  &:focus {
    border: $border-width solid $light;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    font-size: 2.75rem;
    opacity: 1;
  }
}

.full-search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: $white;
  background-color: $dark;
  border-color: $white;
  opacity: 1;
  padding: 10px 17px;
  font-size: 2rem;
  @include border-radius($border-radius);
}

.file-field input[type='file'] {
  position: absolute;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding-bottom: 30px;
}
.file-field span {
  cursor: pointer;
}
